{{{HEAD}}}

<body class="main">

    <span class="banner"> This website is still in development (pre-beta) at the moment. Please send feedback to <a href="mailto:alex0morley@gmail.com?Subject=Code%20of%20Conducts">alex0morley@gmail.com</a> or @alexmorley on twitter. Thanks!</span>

    <div id="title" class="container" text-align="center"> 
        <a href="/" style="color:inherit"><img src="images/logo.png" alt="Code of Conduct Builder Logo" style="height: 25%; margin-left:auto; margin-right:auto; display: block; padding-top: 5%"></a>
    </div>

    <main>

    <div class="content-wrapper--large landing">
        <a class="button" href=./builder>Build a Code of Conduct</a><br>
        <p class="button" id="fb" href=./why.php onmouseover="this.innerHTML='&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Coming Soon&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;';" onmouseout="this.innerHTML='(Why) Do I need to use a Code of Conduct?'">
        (Why) Do I need to use a Code of Conduct?"
        </p><br>
        {{TEST}}
        <a class="button" href=./guide.php>Guidlines & resources</a><br>
        <!--<a class="button" href=./about.php>More about this project</a>-->
        <br>
        <div>

</body>
