.flex-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.flex-grid .col {
    margin-right: 20px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.flex-grid .col:last-of-type {
    margin-right: 0;
}

@media ( max-width: 750px ) {
    .flex-grid {
        display: block;
    }
    .flex-grid .col {
        width: 100%;
        margin-right: 0;
    }
}
