.main {
    margin: 0;
}

.container {
    width: 95%;
    margin: auto;
    padding: 10px;
}
.leftFrame {
    width: 45%;
    float: left;
}
.rightFrame {
    float:left;
    width: 45%;
}
.banner {
    padding-right: 0;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightgrey;
    margin: 0;
    display: block;
}

.landing {
    display: block;
    text-align: center;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

.flink {
    padding-right: 10px;
}
